{% extends 'base.html' %}

{% block title %}About Me - Tienda de Juegos Infantiles{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Leonardo Curuchet</h1>
    <div class="row">
        <div class="col-md-12">
            <p>
                ¡Hola! Soy Leonardo, tengo 42 años y soy Licenciado en Administracion de Empresas. 
                Hace 15 años trabajo en el mercado de venta y distribucion de Bebidas en la ciudad de Tandil
                para una empresa exclusiva de Cerveceria y Malteria Quilmes. Soy el responsable de la gestion y mejora 
                de los procesos de las areas Ventas, Logistica, Deposito y Administracion.
                En 2022 incursione en la plataforma de CoderHouse, hice los cursos de Data Analitycs y Data Science, 
                ahora con Python orientado a Web, y con ganas de seguir aprendiendo para entrar en un mercado laboral 
                diferente.
                Estoy casado con "Lorena" y tengo una nena de 7 años "Clara"

            </p>
            <div class="col-md-4">
                <img src="/static/images/mi_foto.jpg" class="img-fluid rounded" alt="mi_foto" style="width: 300px; height: auto;">
            </div>
            <p>
                Si tienes alguna pregunta o sugerencia, no dudes en ponerte en contacto conmigo. ¡Gracias por visitar mi tienda!
            </p>
        </div>
    </div>
</div>
{% endblock %}
