{% extends 'base.html' %}

{% block title %}
    Buscar Juego 
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Buscar Juego (Si conoce la edad del niño, comienze por esa busqueda)</h1>
    <form method="GET" class="form-inline mb-3">
        <div class="form-group mr-2">
            <label for="nombre" class="mr-2">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" value="{{ request.GET.nombre }}">
        </div>
        <div class="form-group mr-2">
            <label for="edad_recomendada" class="mr-2">Edad recomendada:</label>
            <input type="number" id="edad_recomendada" name="edad_recomendada" class="form-control" value="{{ request.GET.edad_recomendada }}">
        </div>
        <div class="form-group mr-2">
            <label for="materiales" class="mr-2">Materiales:</label>
            <input type="text" id="materiales" name="materiales" class="form-control" value="{{ request.GET.materiales }}">
        </div>
        <button type="submit" class="btn btn-primary ml-2">Buscar</button>
    </form>

    {% if juegos %}
        <h2>Resultados de la búsqueda</h2>
        <ul class="list-group">
            {% for juego in juegos %}
                <li class="list-group-item">
                    <h3>{{ juego.nombre }}</h3>
                    <p><strong>Edad Recomendada:</strong> {{ juego.edad_recomendada }}</p>
                    <p><strong>Materiales:</strong> {{ juego.materiales }}</p>
                    <p><strong>Descripción:</strong> {{ juego.descripcion }}</p>
                    {% if juego.imagen %}
                        <img src="{{ juego.imagen.url }}" alt="{{ juego.nombre }}" class="img-thumbnail">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
</div>
{% endblock %}



