{% extends 'base.html' %}

{% block content %}
<h2>Buscar Juego</h2>
<form method="GET" action="{% url 'buscar_juego' %}">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id">
    <label for="rango_edades">Rango de Edades:</label>
    <input type="text" id="rango_edades" name="rango_edades" placeholder="ej. 4-6">
    <button type="submit">Buscar</button>
</form>

<ul>
    {% for juego in juegos %}
        <li>{{ juego.nombre }} - Edad Recomendada: {{ juego.edad_recomendada }}</li>
    {% empty %}
        <li>No se encontraron juegos</li>
    {% endfor %}
</ul>
{% endblock %}

