{% extends 'base.html' %}

{% block content %}
<h2>Crear Juego</h2>
<form method="post">
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br>
    <label for="edad_recomendada">Edad Recomendada:</label>
    <input type="number" id="edad_recomendada" name="edad_recomendada" min="0" required>
    <br>
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion" required></textarea>
    <br>
    <button type="submit">Guardar</button>
</form>
{% endblock %}
