{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 style="text-align: center; font-family: 'Comic Sans MS', cursive; color: #f6f2f0;">
                Bienvenidos a la tienda de juegos infantiles. El objetivo de este espacio es que aquí puedas dejar registrada tu creatividad para la generación de juegos infantiles y también que puedas dejar tu experiencia de cuando eras un niño. Mientras estés navegando la tienda, "piensa como niño, juega como niño y crea como niño".
            </h2>
        </div>
    </div>
</div>
{% endblock %}


