{% extends 'base.html' %}

{% block title %}Inicio - Tienda de Juegos Infantiles{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Bienvenido a la Tienda de Juegos Infantiles</h1>
    <p>¡Bienvenido a nuestra tienda de juegos infantiles! En este espacio dedicado a la diversión y el aprendizaje, 
        nos apasiona ofrecer una amplia variedad de juegos diseñados para estimular la creatividad y el desarrollo de los más pequeños. 
        Nuestro compromiso es proporcionar ideas de juegos que entretengan, inspiren y eduquen.
        Pero no solo llegamos hasta ahi, sino que tambien tendras la posibilidad de sumar tus ideas de juegos infantiles y dejar registrado tu idea. 
        ¡Explora nuestra tienda y descubre cómo convertir cada momento en una nueva aventura para tus hijos!
    </p>
    <div class="row">
        <div class="col-md-4">
            <img src="/static/images/escondite.jpg" class="img-fluid rounded" alt="escondite">
        </div>
        <div class="col-md-4">
            <img src="/static/images/rayuela.jpg" class="img-fluid rounded" alt="rayuela">
        </div>
        <div class="col-md-4">
            <img src="/static/images/Ta TE TI.jpg" class="img-fluid rounded" alt="Ta TE TI">
        </div>
    </div>
</div>
{% endblock %}
