/* Custom styles */
body {
  background-color: #baf266; /* Fondo blanco para el cuerpo de la página */
  color: #212529;
  font-family: 'Lato', sans-serif; /* Cambiar la fuente predeterminada */
  font-size: 40px; /* Tamaño de fuente base */
}

.navbar {
  background-color: #939598 !important; /* Fondo gris claro para la barra de navegación */
}

.navbar .navbar-brand {
  margin-right: 150px; /* Espacio entre los elementos de la barra de navegación */
}

.navbar .navbar-brand:last-child {
  margin-right: 50; /* No aplicar margen al último elemento */
}

.content-container {
  min-height: 60vh; /* Ajuste de la altura del contenido principal */
  padding-top: 100px; /* En lugar de margin-top para añadir espacio arriba */
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #499ef2; /* Fondo gris claro para el pie de página */
  padding: 40px 0; /* Espaciado interno en el pie de página */
  text-align: center; /* Centra el contenido del footer */
  font-size: 40px;
}

.footer .bi-instagram {
  color: #f0783d; /* Color más oscuro para el ícono de Instagram */
  font-size: 1.5rem; /* Tamaño de fuente del ícono de Instagram */
  margin-right: 5px; /* Espacio entre el ícono de Instagram y otros elementos */
  font-size: 40px;
}

.footer .bi-instagram:hover {
  color: #e17528; /* Cambio a azul al pasar el mouse por encima */
  font-size: 40px;
}